<header>
    <div class="container">
      <div class="header-content">
        <a href="{{ '/' | relative_url }}" class="logo">{{ site.title }}</a>
        <button class="mobile-nav-toggle" aria-label="Toggle Navigation">
          ☰
        </button>
        <nav>
          <ul id="nav-menu">
            <li><a href="#about">About</a></li>
            <li><a href="#skills">Skills</a></li>
            <li><a href="#experience">Experience</a></li>
            <li><a href="#education">Education</a></li>
            <li><a href="#library">Library</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>