---
layout: default
---
<!-- Hero Section -->
<section class="hero" id="home">
  <div class="container">
    <h1>{{ site.title }}</h1>
    <p>Data Engineer & AI/ML Enthusiast</p>
    <p>{{ site.description }}</p>
    <div class="hero-buttons">
      <a href="#contact" class="btn btn-primary">Get In Touch</a>
      <a href="https://github.com/{{ site.github_username }}/" class="btn btn-outline">View Projects</a>
    </div>
  </div>
  <div class="hero-wave">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V120H0V100.29C57.1,55.96,119.6,26.69,187.95,31.2,265.81,36.1,213.4,67.1,321.39,56.44Z" class="shape-fill"></path>
    </svg>
  </div>
</section>

{% include about.html %}
{% include skills.html %}
{% include experience.html %}
{% include education.html %}
{% include library.html %}
{% include contact.html %}